h1 {
    color:rgba(72, 48, 9, 0.799);

}
body {
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 900px;
    min-height: 100vh; /* Ensure the body takes the full height of the viewport */
}

body::before {
    content: "";
    position: fixed; /* Fixed position ensures it stays in place even if the page scrolls */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("images/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    z-index: -1; /* Place it behind the content */
}

/* Ensure the content is above the background */
body > * {
    position: relative;
    z-index: 1;
}

.award_class {
    background-color: #402f6936;
    border-radius: 5%;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.award_picture {
    text-align: center;
    position: relative; /* Position the image relative to its parent */
    /*border-radius: 8% / 7%;*/
    padding: 10px;
    margin-top: 0px;
    margin-left: 120px;
    margin-right:120px;
    background-color:rgb(255, 255, 255);
}
#2.award_picture:hover img {
    display: block;
}

.award_header {
    font-size: 100%;
    color:rgba(72, 48, 9, 0.799);
    padding-top: 10px;
    margin-left: 1%;
    min-width: 100px;
}

.success_icon_img {
    max-width: 25px;
    margin-left: 15px;
    margin-top: 15px;
}
.success_name {
    width: 100%;
}

.next_button {
    position: absolute;
    top: 50%;
    right: 0%;
    max-width: 50px;
    transform: translate(-50%, -50%);
    display: none;
    padding: 10px 10px;
    color: white; /* Optional styling */
    border: none; /* Optional styling */
    cursor: pointer;
}
.back_button {
    position: absolute;
    top: 50%;
    right: 0%;
    max-width: 50px;
    transform: translate(-50%, -50%);
    display: none;
    padding: 10px 10px;
    color: white; /* Optional styling */
    border: none; /* Optional styling */
    cursor: pointer;
}
.award_picture:hover .next_button, .award_picture:hover .back_button {
    display: block;
}
.award_pict {
    position: relative;
    width: 97%;
}
.award_description {
    background-color: #ffffff;;
    margin: 2% 10% 5% 10%;
    padding: 2px 30px 2px 20px;
    text-align: left;
    border: 1px solid black; /* Border around the line */
    box-shadow: 0 0 5px black; 
}

.ul_prof {
    list-style: none; /* Remove the default list style */
    padding: 0;
}

.ul_prof > li.profession_type_1 {
    position: relative;
    padding-left: 30px; /* Adjust this value based on the icon size */
    line-height: 1.5;
}

.ul_prof > li.profession_type_1 ::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    transform: translateY(-50%);
    width: 20px; /* Set the desired width of the icon */
    height: 20px; /* Set the desired height of the icon */
    background-image: url("images/icons/date_bullet.png");
    background-size: contain; /* Ensure the image fits within the dimensions */
    background-repeat: no-repeat;
    margin-left: 8px;
}

.ul_prof > li.profession_type_2 {
    position: relative;
    padding-left: 30px; /* Adjust this value based on the icon size */
    line-height: 1.5;
}

.ul_prof > li.profession_type_2 ::before {
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    transform: translateY(-50%);
    width: 20px; /* Set the desired width of the icon */
    height: 20px; /* Set the desired height of the icon */
    background-image: url("images/icons/date_bullet.png");
    background-size: contain; /* Ensure the image fits within the dimensions */
    background-repeat: no-repeat;
    margin-right: 8px;
}

/* Default bullet style for ul elements inside .descr */
.descr ul {
    list-style: disc; /* Use default disc bullets */
    padding-left: 20px; /* Add padding to align with the default bullet */
}

.main_table th, .main_table td {
    border: 0px solid black; /* Add borders to cells */
    padding: 10px; /* Add padding to cells */
    text-align: left; /* Align text to the left */
}
.main_table th {
    background-color:#850808ca; /* Background color for header cells */
    color:#ffffff;
}
.main_table {
    background-color: #402f692c;
    width: 100%;
}
.university_logo_uc {
    margin-left: -55%;
}
.university_logo_iyte {
    margin-right: -40%;
}
.UCBerkeley {
    width: 45%;
    max-width: 500px;
    max-height: 150px;
    cursor: pointer; 
}
.center {
    text-align: center;
}

.iztech {
    width: 20%;
    max-width: 200px;
    cursor: pointer; 
}

.business_icon {
    margin-right: -460px;
}
.business-icon-picture {
    width: 8%;
}

.profession_type_1 {
    background-color: #76020eb7;
    border-radius: 0% 5% 5% 5% / 25% 25% 25% 25%;
    color: rgb(233, 233, 233);
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgb(123, 68, 68); 
    padding-bottom: 25px;
    width: 30%; /* Default smaller width */
    margin-right: 65%;
    left: 0px;
    transition: width 0.9s ease; /* Smooth transition for width and margin-right change */
    cursor: pointer; /* Change cursor to pointer to indicate clickable */
}

.profession_type_1.large-width {
    width: 80%; /* Larger width when expanded */
}

.profession_type_1.large-width .descr {
    left: auto;
    display: block; /* Display .descr content only when .profession_type_1 is expanded */
}

.profession_type_2 {
    background-color: #a23206ca;
    border-radius: 5% 0% 5% 5% / 25% 25% 25% 25%;
    color:rgb(233, 233, 233);
    margin-left: 65%;
    right: 0px;
    margin-bottom: 10px;
    padding-bottom: 25px;
    box-shadow: 0 0 5px rgb(123, 87, 68); 
    width: 30%; /* Default smaller width */
    transition: margin-left 0.9s ease; /* Smooth transition for margin-left and width change */
    cursor: pointer; /* Change cursor to pointer to indicate clickable */
}
.profession_type_2 > .date, .profession_type_2 > .title {
    text-align: right;
    margin-right: 30px;
}

.profession_type_2.large-width {
    right: 140px;
    margin-left: 32%;
    width: 80%; /* Larger width when expanded */
}

.profession_type_2.large-width .descr {
    right: auto; /* Reset right position */
    display: block; /* Display .descr content only when .profession_type_2 is expanded */
}

.descr {
    display: none;
}
.container_1 {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap */
    justify-content: center; /* Horizontally center items */
    padding-top: 15px;
}

.column-2 {
    max-width: 70%;
    display: none;
    border-radius: 0% 5% 0% 5% ;
}


#last_container {
    padding-bottom: 15px;
}

.section > .Headers > h1 {
    font-size: 110%;
}


.row {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: center; /* Distribute items evenly with space around */
}

.column {
    flex: 1 1 40%; /* Grow to fill space, shrink if needed, initial basis 30% */
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    /**min-width: 200px; /* Ensure columns don't get too small */
    text-align: left;
    background-color: #ffffff;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive adjustments */
@media (max-width: 2200px) {
    .column {
        flex: 1 1 45%; /* Adjust to two columns on medium screens */
    }
    .container_1 > h1 {
        font-size: 110%;
        justify-content: center;
    }
    .column-1 {
        max-width: 20%;
        width: auto;
        min-width: 200px;
        max-height: 490px;
    }
}


@media (max-width: 1200px) {
    .column {
        flex: 1 1 100%; /* Adjust to one column on small screens */
    }
    .container_1 > h1 {
        font-size: 90%;
        justify-content: center;
    }
    .column-1 {
        max-width: 20%;
        width: auto;
        min-width: 200px;
        max-height: 450px;
    }
}

@media (min-width: 355px) and (max-width: 435px) and (min-height: 660px) and (max-height: 940px) {
    .column-1 {
        min-width: 540px;
        min-height: 1200px;
        margin-top: 30%;
    }
    .main_content {
        min-width: 90%;
        min-height: 90%;
        font-size: 150% !important; 
    }
    .container_1 {
        text-align: center;
        min-height: 100px;
    }
    .main_button {
        min-height: 80px !important;
        font-size: 90% !important; 
    }

}


.cagin_photo {
    width: 45%;
    max-width: 290px;
    min-width: 70px;
    border-radius: 50%;
    box-shadow: 0 20px 18px rgba(0, 0, 0, 0.5);

}

.main_button {
    width: 50%;
    height: 60%;
    max-width: 300px;
    min-height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #af823392;
    transition: background-color 0.3s; /* Add transition for smoother color change */
    min-width: 110px;
}
.main_button:hover {
    background-color: #850808ca;;
    color: rgb(233, 233, 233);
}

.table_button {
    border: none;
    border-radius: 5px;
    background-color: #4e3c772c;  
    padding: 8px;
}
.table_button:hover {
    background-color:rgba(9, 46, 72, 0.799); /* Background color for header cells */
    color:#ffffff;
}

.main_content {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: #402f692c;
    border-radius: 0%;
}


