
body {
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 100%;
    min-height: 100vh; /* Ensure the body takes the full height of the viewport */
    font-family: sans-serif;
}

body::before {
    content: "";
    position: fixed; /* Fixed position ensures it stays in place even if the page scrolls */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("images/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    z-index: -1; /* Place it behind the content */
}

/* Ensure the content is above the background */
body > * {
    position: relative;
    z-index: 1;
}
.communication {
    width: 100%;
}
.col2 {
    text-align: left;
    padding-left: 10%;
}
.contact_table_1 > .col2 {
    margin-left: 10px;
}

.contact_table_2 .col_img {
    max-width: 150%;
    text-align: left;
    min-width: 20px;
}
.contact_table_1 .col_img {
    max-width: 80%;
    min-width: 20px;
    text-align: left;
}
.contact_table_2 .col1 {
    width: 10%;
}

.contact_table_1 .col1 {
    width: 30%;
}
.contact_div {
    padding: 15px;
    text-align: center;
}
.contact_2 {
    background-color: #393E46;
    color: #ffffff;
    padding: 8px;
    margin-left: 20%;
    margin-right: 20%;
    cursor: pointer;
}
.contact_2:hover {
    background-color: #00adb5;
}
.contact_1 {
    background-color: #393E46;
    color: #ffffff;
    padding: 8px;
    margin-left: 30%;
    margin-right: 30%;
    cursor: pointer;
}
.contact_1:hover {
    background-color: #00adb5;
}


.contact_1 h1, .contact_2 h1 {
    font-size: 80%;
}
.contact_table_2 {
    background-color: #EEEEEE;
    margin-left: 20%;
    margin-right: 20%;
    padding: 5% 5% 5% 8%;
    max-width: 500px;
}
.contact_table_1 {
    background-color: #EEEEEE;
    margin-left: 30%;
    margin-right: 30%;
    padding: 5% 5% 5% 8%;
    max-width: 400px;
}


.award_class {
    background-color: #EEEEEE;
    border-radius: 0% 20% 0% 20%;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.award_picture {
    text-align: center;
    position: relative; /* Position the image relative to its parent */
    /*border-radius: 8% / 7%;*/
    margin-top: 20px;
    margin-bottom: -2px;
    
}
#2.award_picture:hover img {
    display: block;
}

.award_header {
    font-size: 100%;
    padding-top: 10px;
    margin-left: 1%;
    min-width: 90%;

}

.success_icon_img {
    max-width: 25px;
    margin-left: 15px;
    margin-top: 15px;
}
.success_name {
    width: 100%;
}

.next_button {
    position: absolute;
    top: 50%;
    right: 18%;
    max-width: 35px;
    transform: translate(-50%, -50%);
    display: none;
    padding: 10px 10px;
    color: white; /* Optional styling */
    border: none; /* Optional styling */
    cursor: pointer;
}
.back_button {
    position: absolute;
    top: 50%;
    right: 18%;
    max-width: 35px;
    transform: translate(-50%, -50%);
    display: none;
    padding: 10px 10px;
    color: white; /* Optional styling */
    border: none; /* Optional styling */
    cursor: pointer;
}


.down_arrow {
    width: 20px;
    position: relative;
}
.award_desc_container {
    text-align: center; /* Centers inline and inline-block elements */
}

.award_description_arrow {
    cursor: pointer;
    display: inline-block; /* Allows centering via text-align */
    width: 15%;
    background-color: #393E46;
    border-radius: 10% 10% 50% 50%;
}


.project_icon {
    width:40px;
}
.project_name {
    width: 100%;
    margin-bottom: 25px;
}
.project_container_table {
    background-color: #EEEEEE;
    border-radius: 0% 10% 0% 10%;
    padding-bottom: 3px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 95%;
}
.project_name_col {
    width: 90%;
}
.project_container_table:hover {
    background-color: #00adb5;
}
.project_pict {
    position: relative;
    width: 30%;
}
.project_description {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    display: none;
}
.project_arrow_down {
    text-align: right;
    margin-top: -20px;
}
.down_arrow_projects {
    width: 20px;
    position: relative;
    transform: rotate(-45deg);
}
.github_project_code {
    transition: transform 1s ease;
    width: 90%;
    cursor: pointer;
}
.github_project_code:hover {
    transform: rotate(-360deg);
}
.project_table_col1 {
    width: 50px;
}



.award_description_arrow:hover {
    background-color: #00adb5;
    color: rgb(0, 0, 0);
}


.award_picture:hover .next_button, .award_picture:hover .back_button {
    display: block;
}
.award_pict {
    position: relative;
    width: 60%;
}
.award_description {
    display: none;
    text-align: center;
}

.award_desc {
    display: inline-block;
    width: 60%;
    background-color: #393e463d;
    border-radius: 5%;
}

.award_description p {
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    
}

.line {
    text-align: center;
}

.education_desc{
    margin-left: 30px;
    text-align: left;
}


.ul_prof {
    list-style: none; /* Remove the default list style */
    padding-left: 30px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #EEEEEE;
    border-radius: 0% 5% 0% 5%;
    justify-content: center;
}

.ul_prof > .prof > li.profession_type_1 {
    position: relative;
    padding-left: 5%; /* Adjust this value based on the icon size */
    line-height: 1.5;
}

.ul_prof > .prof > li.profession_type_1 ::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    transform: translateY(-50%);
    width: 20px; /* Set the desired width of the icon */
    height: 20px; /* Set the desired height of the icon */
    background-image: url("images/icons/date_bullet.png");
    background-size: contain; /* Ensure the image fits within the dimensions */
    background-repeat: no-repeat;
    margin-left: 8px;
}

.date {
    margin-left: 10%;
    font-size: 90%;
    justify-content: right;
}

/* Default bullet style for ul elements inside .descr */
.descr ul {
    list-style: disc; /* Use default disc bullets */
    padding-left: 20px; /* Add padding to align with the default bullet */
}

/* General Table Styles */
.main_table {
    width: 100%; /* Table spans full width of its container */
    max-width: 100%; /* Prevent the table from exceeding container width */
    border-collapse: collapse; /* Remove extra spacing between cells */
    table-layout: fixed; /* Prevent content-based column resizing */
}

/* Style table headers and cells */
.main_table th, .main_table td {
    border: 1px solid black; /* Optional: add cell borders */
    padding: 10px; /* Add padding for readability */
    text-align: left; /* Align text to the left */
    word-wrap: break-word; /* Wrap long words within cells */
    white-space: normal; /* Allow content to wrap */
}

/* Style table header background */
.main_table th {
    background-color: #393E46;
    color: #ffffff;
}

.university_logo_uc {
    margin-left: -55%;
}
.university_logo_iyte {
    margin-right: -40%;
}
.UCBerkeley {
    width: 45%;
    max-width: 500px;
    max-height: 150px;
    cursor: pointer; 
}
.center {
    text-align: center;
}

.iztech {
    width: 20%;
    max-width: 200px;
    cursor: pointer; 
}

.business_icon {
    margin-right: -460px;
}
.business-icon-picture {
    width: 8%;
}

.profession_type_1 {
    border-radius: 0% 5% 0% 5% / 25% 25% 25% 25%;
    color: rgb(233, 233, 233);
    margin-bottom: 10px;
    box-shadow: 0 0 5px #053B50; 
    padding-bottom: 25px;
    width: 250px; /* Default smaller width */
    transition: width 0.9s ease; /* Smooth transition for width and margin-right change */
    cursor: pointer; /* Change cursor to pointer to indicate clickable */
}

.profession_type_1.large-width {
    width: 90%; /* Larger width when expanded */
}

.profession_type_1.large-width .descr {
    left: auto;
    display: block; /* Display .descr content only when .profession_type_1 is expanded */
}

#prof_1 > .profession_type_1{
    background-color: #007379;
}

#prof_2 >.profession_type_1{
    background-color: #005f64;
}
#prof_2 {
    padding-left: 50px;
}

#prof_3 > .profession_type_1{
    background-color: #004548;
}

#prof_3 {
    padding-left: 100px;
}

#prof_4 > .profession_type_1{
    background-color: #003436;
}

#prof_4 {
    padding-left: 50px;
}

#prof_5 > .profession_type_1{
    background-color: #00282a;
}


.descr {
    display: none;
}
.container_1 {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap */
    justify-content: center; /* Horizontally center items */
    padding-top: 15px;
}

.column-2 {
    width: 90%;
    display: none;
    border-radius: 0% 5% 0% 5%;
}

#last_container {
    padding-bottom: 15px;
}

.section > .Headers > h1 {
    font-size: 110%;
}


.row {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: center; /* Distribute items evenly with space around */
    margin-top: 2%;
}

.column {
    flex: 1 1 40%; /* Grow to fill space, shrink if needed, initial basis 30% */
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    /**min-width: 200px; /* Ensure columns don't get too small */
    text-align: left;
    background-color: #ffffff;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.cagin_photo {
    width: 45%;
    max-width: 290px;
    min-width: 70px;
    border-radius: 50%;
    box-shadow: 0 20px 18px rgba(0, 0, 0, 0.5);

}

.main_button {
    width: 50%;
    height: 60%;
    max-width: 300px;
    min-height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #393E46;
    color: #ffffff;
    transition: background-color 0.3s; /* Add transition for smoother color change */
    min-width: 110px;
    font-family: sans-serif;
}
.main_button:hover {
    background-color: #00adb5;
    color: rgb(0, 0, 0);
}

.table_button {
    border: none;
    border-radius: 5px;
    background-color: #4e3c772c;  
    padding: 8px;
}
.table_button:hover {
    background-color:rgba(9, 46, 72, 0.799); /* Background color for header cells */
    color:#ffffff;
}

.main_content {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: #EEEEEE;
    border-radius: 0%;
}




/* Responsive adjustments */
@media (max-width: 2200px) {
    .column {
        flex: 1 1 45%; /* Adjust to two columns on medium screens */
    }
    .container_1 > h1 {
        font-size: 110%;
    }
    .container_1 {
        justify-content: center;
    }
    .column-1 {
        max-width: 20%;
        width: auto;
        min-width: 200px;
        max-height: 600px;
    }
}

@media (max-width: 1700px) {
    .column {
        flex: 1 1 45%; /* Adjust to two columns on medium screens */
    }
    .container_1 > h1 {
        font-size: 110%;
    }
    .container_1 {
        justify-content: center;
    }
    .column-1 {
        max-width: 20%;
        width: auto;
        min-width: 200px;
        max-height: 550px;
    }
    
}

@media (max-width: 1500px) {
    .column {
        flex: 1 1 45%; /* Adjust to two columns on medium screens */
    }
    .container_1 > h1 {
        font-size: 110%;
    }
    .container_1 {
        justify-content: center;
    }
    .column-1 {
        max-width: 20%;
        width: auto;
        min-width: 200px;
        max-height: 500px;
    }
}


@media (max-width: 890px) {
    .column {
        flex: 1 1 100%; /* Adjust to one column on small screens */
    }
    .container_1 > h1 {
        font-size: 90%;
    }
    .container_1 {
        display: flex;
        flex-direction: column; /* Stack children vertically */
        align-items: center; /* Center all children horizontally */
        text-align: center; /* Align text inside children */
    }
    
    .container_1 svg {
        display: block; /* Ensure the SVG takes up its own line */
        margin-top: 10px; /* Add some space above the SVG */
    }

    #prof_2, #prof_3, #prof_4 {
        padding-left: 0;
        margin-left: 0;
    }
    .ul_prof {
        justify-content: center;
        padding-left: 5px;
    }
    .column-1 {
        max-width: 20%;
        width: auto;
        min-width: 200px;
        max-height: 450px;
    }
    .column-2 {
        width: 90%;
        display: none;
        border-radius: 0% 5% 0% 5%;
    }
}


@media (max-width: 550px) {
    .row {
        flex-direction: column; /* Stack columns vertically */
        align-items: center; /* Center columns horizontally */
        justify-content: flex-start; /* Align items at the top */
    }
    .column-1, .column-2 {
        width: 90%; /* Columns take up 90% of the viewport */
        padding: 15px; /* Add spacing inside columns */
        margin: 0; /* Center the columns horizontally */
        box-sizing: border-box; /* Include padding in width */
        font-size: small;
    }
    .column-1 {
        margin-bottom: 20px; /* Add spacing between column-1 and column-2 */
    }
    .column-2 {
        font-size: 0.8rem; /* Smaller text size for column 2 on mobile */
        line-height: 1.2; /* Adjust line height for readability */
        min-width: 200px;
    }
    #prof_2, #prof_3, #prof_4 {
        padding-left: 0;
    }
    .main_button {
        min-height: 15px;
    }
    .profession_type_1 {
        border-radius: 0% 5% 5% 5% / 25% 25% 25% 25%;
        color: rgb(233, 233, 233);
        margin-bottom: 10px;
        box-shadow: 0 0 5px #053B50; 
        padding-bottom: 25px;
        width: 95%; /* Default smaller width */
        transition: width 0.9s ease; /* Smooth transition for width and margin-right change */
        cursor: pointer; /* Change cursor to pointer to indicate clickable */
    }
    .main_table th, .main_table td {
        font-size: 0.4rem; /* Reduce font size for small screens */
        padding: 5px; /* Reduce padding */
    }
}

@media (max-width: 500px) {
    .date {
        padding-left: 15%;
    }
}

